@charset "UTF-8";
/* CSS Document */

body {
	background-color: #202020;
	margin: 0 auto;
	font-family: "OpenSansReg";
	color: #000;
	font-size: 14px;
}

@font-face {
	font-family: "BadManners";
	src:url(../fonts/mcf_bad_manners-webfont.ttf);
}

@font-face {
	font-family: "AeroMatics";
	src:url(../fonts/AeroMaticsDisplayRegular.ttf);
}

@font-face {
	font-family: "OpenSansReg";
	src:url(../fonts/OpenSans-Regular.ttf);
}

p {
	margin: 10px 0;
	color: #ffffff;
	line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "AeroMatics";
	margin: 0 0 10px;
	color: #ffffff;
}

h1 {
	font-size: 40px;
	display: inline-block;
	position: relative;
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
	overflow: hidden;
	margin: 20px 0;
}

h1:after {
  content: "";
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  margin: 0;
  border: 2px solid #c70101;
  float: right;
  margin: 0 0 0 10px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

img {
	max-width: 100%;
}

a:link, a:active, a:visited {
	color: #c70101;
}

a:hover {
	color: #d90303;
}

.aboutText{
	text-indent: 50px;
	}

/* ----------------- Global CSS/Layout Classes ---------------------- */	

a.button-red {
	padding: 10px 20px;
	display: inline-block;
	border-radius: 7px;
	box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.35);
	margin: 1em;
	text-decoration: none;
	color: #fff;
	border: 3px solid #d50303;
	background: #cb0101; /* Old browsers */
	background: -moz-linear-gradient(top, #cb0101 0%, #be0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb0101), color-stop(100%,#be0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cb0101 0%,#be0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cb0101 0%,#be0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cb0101 0%,#be0000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cb0101 0%,#be0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb0101', endColorstr='#be0000',GradientType=0 ); /* IE6-9 */
	text-transform: uppercase;
}

a.button-red:hover {
	background: #db0d0d; /* Old browsers */
	background: -moz-linear-gradient(top, #db0d0d 0%, #cb0101 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db0d0d), color-stop(100%,#cb0101)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #db0d0d 0%,#cb0101 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #db0d0d 0%,#cb0101 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #db0d0d 0%,#cb0101 100%); /* IE10+ */
	background: linear-gradient(to bottom, #db0d0d 0%,#cb0101 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0d0d', endColorstr='#cb0101',GradientType=0 ); /* IE6-9 */
}

a.button-gray {
	padding: 10px 20px;
	display: inline-block;
	border-radius: 7px;
	box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.35);
	margin: 1em;
	text-decoration: none;
	color: #fff;
	border: 3px solid #555555;
	background: #515050; /* Old browsers */
	background: -moz-linear-gradient(top, #515050 0%, #414040 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#515050), color-stop(100%,#414040)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #515050 0%,#414040 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #515050 0%,#414040 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #515050 0%,#414040 100%); /* IE10+ */
	background: linear-gradient(to bottom, #515050 0%,#414040 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515050', endColorstr='#414040',GradientType=0 ); /* IE6-9 */
	text-transform: uppercase;
}

a.button-gray:hover {
	background: #5b5a5a; /* Old browsers */
	background: -moz-linear-gradient(top, #5b5a5a 0%, #515050 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5a5a), color-stop(100%,#515050)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5b5a5a 0%,#515050 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5b5a5a 0%,#515050 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5b5a5a 0%,#515050 100%); /* IE10+ */
	background: linear-gradient(to bottom, #5b5a5a 0%,#515050 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5a5a', endColorstr='#515050',GradientType=0 ); /* IE6-9 */
}

.content-box {
	background: #3a3a3a; /* Old browsers */
	background: -moz-linear-gradient(top, #3a3a3a 0%, #302f2f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(100%,#302f2f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3a3a3a 0%,#302f2f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3a3a3a 0%,#302f2f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3a3a3a 0%,#302f2f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3a3a3a 0%,#302f2f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#302f2f',GradientType=0 ); /* IE6-9 */
	padding: 1em;
	color: #fff;
	border-radius: 7px;
	margin: 0 0 2em;
	display: inline-block;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.center {
	margin: 0 auto;
	text-align: center;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

/* ----------------- Page Styling ---------------------- */	

.featured {
	margin: 0 0 4em;
}

nav{
	background: #890000; /* Old browsers */
	background: -moz-linear-gradient(top, #890000 0%, #be0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#890000), color-stop(100%,#be0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #890000 0%,#be0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #890000 0%,#be0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #890000 0%,#be0000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #890000 0%,#be0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#890000', endColorstr='#be0000',GradientType=0 ); /* IE6-9 */
	width: 100%;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.8);
	padding: 10px 0;
	}
.nav a{
	font-family: "AeroMatics";
	font-size:24px;
	color: #FFFFFF;
	text-decoration:none;
	margin: 20px 36px;
	padding: 5px 10px;
	transition: .2s ease;
	}
.nav a:hover {
	background: #8d0000;
	border-radius: 7px;
}

.banner {
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 7px solid #414040;
}

.banner-mobile {
	display: none;
	border-bottom: 7px solid #414040;
}

.icons{
	position:relative;
	top:-15px;
	width: 10%;
	display:block;
	margin: 0 auto;
	}
.icons img{
	height:auto;
	width: auto;
	}

.iconContainer{
	margin:0;
	padding:0;
	background-color:#414040;
	height: 5px;}


.section-bg {
	background-image: url(../img/section-bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;	
	background-size: cover;
	background-position: center center;
	max-width: 100%;
	height: auto;
	padding: 4em 0;
	border-top: 5px solid #525252;
}

fieldset {
    border-radius: 10px;
    border: 0;
    padding: 3em;
    margin-top: 0 !important;
    width: 100%;
}

input, textarea {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: 0;
}

input[type=submit],
input[type=reset] {
	background: #c70101;
	color: #fff;
	border: 1px solid #000;
}

input[type=submit]:hover,
input[type=reset]:hover {
	cursor: pointer;
	background: #d90303;
}

.contact textarea {
    width: 100%;
    height: 20em;
}

.input_info {
    height: 2em;
}

.contact_info {
    border-color: #fff;
}

footer{
	background: #99040c; /* Old browsers */
	background: -moz-linear-gradient(top, #99040c 0%, #99040c 0%, #99040c 0%, #9b0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99040c), color-stop(0%,#99040c), color-stop(0%,#99040c), color-stop(100%,#9b0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #99040c 0%,#99040c 0%,#99040c 0%,#9b0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #99040c 0%,#99040c 0%,#99040c 0%,#9b0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #99040c 0%,#99040c 0%,#99040c 0%,#9b0000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #99040c 0%,#99040c 0%,#99040c 0%,#9b0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99040c', endColorstr='#9b0000',GradientType=0 ); /* IE6-9 */
	color: #fff;
}

.footerNav{
	margin-top: 15px;
	text-align:right;
	}

.footerNav a{
	color: #FFFFFF;
	text-decoration:none;
	padding: 10px;
	transition: .2s ease;
	}

.footerNav a:hover {
	background: #8d0000;
	border-radius: 7px;
	}

.imgCenter{
	display: block;
    margin-left: auto;
    margin-right: auto;
	}	
	
/* ----------------- Layerslider CSS only ---------------------- */	
.plus1 {
	color: #FF0004;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 27px;
	line-height: 27px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	white-space: nowrap;
	font-weight: normal;
	text-shadow: none;
	position: absolute;
	margin: 0px;
	background-color: rgba(0,0,0,0.90);
}
.text1{
	color: black;
	font-size: 30px;
	white-space: nowrap;
	font-weight: normal;
	text-shadow: none;
	position: absolute;
	line-height: normal;
	margin: 0px;
}
.text2{
	font-size: 80px;
	color: black;
	font-family: 'BadManners';
	white-space: nowrap;
	font-weight: normal;
	text-shadow: none;
	position: absolute;
	line-height: normal;
	margin: 0px;
}
.text3 a{
	text-decoration:underline;
	outline-offset: 1px;
	outline-color:rgba(0,0,0,1.00);
	white-space: nowrap;
	font-weight: normal;
	text-shadow: none;
	color: #FFFFFF;
	font-size: 36px;
	line-height: normal;
}
.text3 a:hover{
	text-shadow: 0px 0px;
	color: rgba(70,70,70,1.00);
	font-size: 38px;
}
.text4{
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: 1px;
	outline: 2px;
	outline-color:rgba(0,0,0,1.00);
	white-space: nowrap;
	font-weight: normal;
	text-shadow: none;
	color: #FFFFFF;
	font-size: 36px;
	line-height: normal;	
}
.black {
	padding: 0 10px;
	background: rgba(0, 0, 0, .80);
	color: red;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	outline: 0;
	white-space: nowrap;
	font-weight: normal;
	text-shadow: none;
	line-height: 70px;
	font-size: 40px;
	position: absolute;
	margin: 0px;
}
.text-a{
	background-color: rgba(0,0,0,0.89);
	border-radius: 5px;
	padding: 5px 15px;
	font-size: 30px;
	color: #FF0004;
	white-space: nowrap;
	font-weight: normal;
	text-shadow: none;
	position: absolute;
	line-height: normal;
	margin: 0px;
}
.text-b{
	padding: 10px 20px;
	font-size: 40px;
	color: #FF0004;
	background-color: rgba(0,0,0,0.89);
	border-radius: 5px;
	white-space: nowrap;
	font-weight: normal;
	text-shadow: none;
	position: absolute;
	line-height: normal;
	margin: 0px;
}
.text-c{
	background-color: rgba(0,0,0,0.85);
	box-shadow: -3px -3px 20px -3px black;
	border-radius: 5px;
	padding: 15px 30px 15px 30px;
	font-size: 60px;
	color: #FF0004;
	white-space: nowrap;
	font-weight: normal;
	text-shadow: none;
	position: absolute;
	line-height: normal;
	margin: 0px;
}
.text-d{
	font-size: 60px;
	color: black;
	white-space: nowrap;
	font-weight: normal;
	text-shadow: none;
	position: absolute;
	line-height: normal;
	margin: 0px;	
}

/* ----------------- Responsive Media Queries ---------------------- */	

@media only screen and (min-width : 320px) and (max-width : 480px) {

	h1 {
		font-size: 25px;
	}

	h2 {
		font-size: 17px;
	}

	.section-bg {
		background-size: auto;
	}

	.section-bg img {
		display: none;
	}

	.banner {
		display: none;
	}

	.banner-mobile {
		display: block;
	}
